.imageBox {
  width: 100%;
  height: auto;
  aspect-ratio: 2/1;
}

.mainContainer,
.secondContainer {
  height: 100%;
  width: 50%;
  display: inline-block;
}

.secondContainerRow {
  width: 100%;
  height: 50%;
}

.secondInnerContainer {
  width: 50%;
  height: 100%;
  display: inline-block;
}

.innerContainer {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
}

.uploadBoxHitbox {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.imageBox .uploadBox {
  position: relative;
  width: 100%;
  height: 100%;
  border: 3px solid #dee2e6;
  border-radius: 7px;
  background-image: url("/icons/uploadBox.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 2rem;
}

.imageBox .uploadBox.main {
  background-size: 4rem;
}

.innerLabel {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.07rem 0.5rem 0.07rem 0.6rem;
  background-color: #dee2e6;
  border-top-left-radius: 7px;
}

.uploadBoxPreviewContainer {
  justify-content: end;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
}

.uploadBoxPreview {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.uploadBoxPreview img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.uploadBoxPreviewPanel {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2rem 0.35rem 0.2rem 0.4rem;
  background-color: #dee2e6;
  border-bottom-left-radius: 7px;
  cursor: pointer;
  display: block;
  z-index: 5;
}

.uploadBoxPreview:hover > .card-body {
  background-color: black;
}
