.btn:focus,
.btn:active,
input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  background-color: #5033b6;
  color: #fff;
}

.btn:hover {
  background-color: #6946e8;
  color: #fff;
}

.btn-outline {
  background-color: transparent;
  color: #5033b6;
  border: 1px solid #5033b6;
  text-decoration: none;
}

.btn-outline:hover {
  background-color: #e9ecef;
  color: #5033b6;
}

#root {
  background-color: #e9ecef;
}

input:focus {
  border-color: #5033b6 !important;
}

.input-group {
  display: flex;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out;
}

.input-group.is-invalid {
  border-color: #dc3545;
}

.input-group:focus-within {
  border-color: #5033b6;
}

.link {
  color: #5033b6;
  text-decoration: none;
}

.list-group-item:hover {
  background-color: #f0ecff;
}

.notification-image-container {
  width: 60px;
  height: 60px;
  overflow: hidden;
  justify-content: center;
  display: flex;
}

.list-group-item .dropdown-menu .dropdown-item.active,
.list-group-item .dropdown-menu .dropdown-item:hover {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  color: #000000 !important;
  background-color: #f0ecff;
}
