.btn:focus,
.btn:active,
input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button {
  background-color: transparent;
}

.accordion-button:focus:not(.collapsed) {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.btn {
  background-color: #5033b6;
  color: #fff;
}

.btn:hover {
  background-color: #6946e8;
  color: #fff;
}

.btn-outline {
  background-color: transparent;
  color: #5033b6;
  border: 1px solid #5033b6;
  text-decoration: none;
}

.btn-outline:hover {
  background-color: #e9ecef;
  color: #5033b6;
}

#root {
  background-color: #e9ecef;
}

input:focus {
  border-color: #5033b6 !important;
}

.input-group {
  display: flex;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out;
}

.input-group.is-invalid {
  border-color: #dc3545;
}

.input-group:focus-within {
  border-color: #5033b6;
}

.link {
  color: #5033b6;
  text-decoration: none;
}

.highlight {
  color: #5033b6;
}

.list-group-item:hover,
.accordion-item:hover,
.info-row:hover {
  background-color: #f0ecff;
}

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: transparent;
}

.notification-image-container {
  width: 60px;
  height: 60px;
  overflow: hidden;
  justify-content: center;
  display: flex;
}

.list-group-item .dropdown-menu .dropdown-item.active,
.list-group-item .dropdown-menu .dropdown-item:hover {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  color: #000000 !important;
  background-color: #f0ecff;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2300000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
