@media (min-width: 1400px) {
  .navbar-container {
    width: 65%;
  }
}

.nav-link.underline,
.dropdown-menu .dropdown-item {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.nav-link.underline:hover,
.nav-link.underline.active,
.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:hover {
  border-top: 4px solid transparent;
  border-bottom: 4px solid #5033b6;
  color: #5033b6 !important;
}

.btn:focus,
.btn:active,
input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  background-color: #5033b6;
  color: #fff;
}

.btn:hover {
  background-color: #6946e8;
  color: #fff;
}

.indicator {
  top: 0;
  right: 0;
}

#root {
  background-color: #e9ecef;
}

input:focus {
  border-color: #5033b6 !important;
}

.input-group {
  display: flex;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out;
}

.input-group.is-invalid {
  border-color: #dc3545;
}

.input-group:focus-within {
  border-color: #5033b6;
}

.link-footer {
  color: #5033b6;
  text-decoration: none;
}
