.password-toggler {
  color: #6946e8;
}

.password-toggler:hover {
  text-decoration: underline;
}

.nav-tabs .nav-link:hover {
  color: black !important;
}

.is-invalid {
  background-image: none !important;
}

.checkbox {
  color: #6946e8;
}
